.call-to-action-container {
  background-color: #495e57;
}

.call-to-action-container h1 {
  color: #f4ce14;
}

.call-to-action-container h2 {
  color: white;
}

.call-to-action-container h4 {
  color: white;
}

#book-button {
  background-color: #f4ce14;
  border-radius: 16px;
  font-size: 18;
  font-weight: bolder;
  height: 40px;
  width: 150px;
  border: none;
}

#food {
  width: 350px;
  height: 450px;
  border-radius: 16px;
}
