.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: inline-flex;
  text-align: center;
}

body {
  display: grid;
}

nav li {
  display: inline;
  list-style-type: none;
}

li a {
  padding: 14px;
}

h1 {
  font-size: 64pt;
  font-family:'Courier New', Courier, monospace;

}

h2 {
  font-size: 40pt;
  font-weight: normal;
}

h3 {
  font-size: 20pt;
  font-weight: bold;
}

h4 {
  font-size: 18pt;
  font-weight: bolder;
}

h5 {
  font-size: 16pt;
  font-weight: bold;
}

p {
  font-size: 16pt;
  line-height: 1.5;

}

img {
  border-radius: 16;
}

a {
  text-decoration: none;
  color: black;
}

/* @media (max-width: 700px) {
  .grid-adjustable-columns {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
  .grid-adjustable-columns {
    width: min(1000px,75rem);
    margin: 0 auto;
    grid-auto-flow: column;
    gap: 1em;
  }
} */