#specials-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#specials-description {
  justify-content: center;
  align-items: center;
}

#specials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


li {
  list-style-type: none;
  margin: 10px;
}

li img {
  height: 150px;
  width: 200px;
  
}

#menu {
  background-color: #F4CE14;
  border-radius: 16px;
  font-size: 18;
  font-weight: bolder;
  padding: 7px;
  height: 50px;
  width: 150px;
  border: none;
  margin: 35px;
}

